.createFont{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loginForm{
    width: 360px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px #13718a
}
.loginForm button{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #13718A;
    color:white;
    border:none;
    height: 42px;

}
.loginForm input{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    font-weight: 600;
}

.or{
    opacity:.7;
}