*{margin:0;padding:0}
.homeBanner{
    background-image: url('../../Images/page-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

/*---------------------- Banner Information part----------------------
---------------------------------------------------------------------- */
.bannerInfo{
    width: 50%;
    margin-left: 30px;
    padding-top: 40px;
}
.bannerInfo h1{
    color:#0c7d97;
    font-size: 50px;
}
.bannerInfo h2,p{
    color:#8b7e52;
}
.bannerButton{
    width: 196px;
    height: 51px;
    background-color: #79B530;
    color:white;
    font-weight: 600;
    border:2px solid white;
    border-radius: 7px;
}
.bannerButton:hover{

}
.singleService{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 12px;
    margin-left: 65px;
  
}

/* -------------------Responsive part of Home Page Section ---------
------------------------------------------------------------------*/
@media only screen and (max-width:850px) {
    .homeBanner{
        background-image: url('../../Images/page-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 320px;
    }
    .bannerInfo{
        font-size: 12px;
    }
    .singleService{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 12px;
        text-align: center;
        margin-left: 75px;
      
    }
}