.siteName h1{
    color:white;
    font-size: 42px;
    text-shadow: 4px 5px 3px #ff0000;
    margin-top: 9px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pageHeader{
background-color: #13718A;
padding-left:15px ;
}

.headerButton{
    background-color:#13718A ;
    padding:6px;
    color:white;
    font-weight: 600;
    border-radius: 6px;
    border:2px solid white;
}

.pageHeader a{
    line-height: 70px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* -------------------PageHeader link hover ----------------------
------------------------------------------------------------------*/
.pageHeader a:hover{
    border-left: 6px solid #ffbcbc;
    padding: 5px;
}
/* -------------------Responsive part of Header Section ----------------------
------------------------------------------------------------------*/
@media only screen and (max-width:850px) {
    .nav{
        display:flex;
        flex-direction: column;
    }
}